<div class="animated fadeInRight">
	<!--Botones de volver al home e input de busqueda-->
	<div class="row">
		<div class="col text-left">
			<button [routerLink]="['/home']" type="button" class="btn btn-outline-primary">
				<i class="fa fa-arrow-left" aria-hidden="true"> </i>
				Atrás
			</button>
		</div>

		<div class="col text-right">
			<form [formGroup]="formSearch" autocomplete="off" (ngSubmit)="search()" class="d-flex">
				<input formControlName="search" class="form-control me-2" type="text" placeholder="Buscar usuario" aria-label="Buscar" autofocus />
				<button class="btn btn-outline-primary" type="submit">
					<i class="fa fa-search" title="Buscar"></i>
				</button>
				<button type="button" class="btn btn-outline-primary ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<i class="fas fa-plus" title="Agregar"></i>
				</button>
			</form>
		</div>
	</div>
	<hr />

	<!--Tabla con la información de las salas encontradas en Firebase-->
	<div class="animated fadeIn faster container" *ngIf="!loading && users.length > 0">
		<div class="row">
			<ng-container *ngFor="let user of users">
				<div class="col-3">
					<app-user-tarjeta [user]="user"></app-user-tarjeta>
				</div>
			</ng-container>
		</div>
	</div>

	<!--Mensaje informativo cuando no existen salas-->
	<div *ngIf="!loading && users.length === 0" class="alert alert-primary text-center mt-3 animated fadeIn faster container">
		<h4 class="alert-heading">No se encontraron usuarios</h4>
		<p>
			<i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>
		</p>
	</div>

	<!--Mensaje de cargando-->
	<div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster container">
		<h4 class="alert-heading">Cargando</h4>
		<p>
			<i class="fas fa-sync-alt fa-2x fa-spin"></i>
		</p>
		<p class="mb-0">Espere por favor</p>
	</div>
</div>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="formInformacion.reset()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="formInformacion">
					<div class="form-group">
						<img
							*ngIf="urlImage | async; else imgUsuario"
							src="{{ urlImage | async }}"
							class="rounded-circle img-thumbnail"
							alt="profile"
							style="max-width: 40%; max-height: 300px"
						/>
						<ng-template #imgUsuario>
							<img
								src="../../../../assets/images/faces-clipart/user-picture.jpg"
								class="rounded-circle img-thumbnail"
								alt="profile"
								style="max-width: 40%; max-height: 300px"
							/>
						</ng-template>

						<div class="container">
							<div class="input-group mt-3">
								<div class="custom-file">
									<input
										type="file"
										class="custom-file-input"
										id="inputGroupFile04"
										accept=".png, .jpg"
										(change)="onUpload($event)"
										aria-describedby="inputGroupFileAddon04"
									/>
									<label *ngIf="nameImageUp" class="custom-file-label" for="inputGroupFile04" data-browse="Elegir">{{ nameImageUp }}</label>
									<label *ngIf="!nameImageUp" class="custom-file-label" for="inputGroupFile04" data-browse="Elegir">Elija una imagen</label>
								</div>
								<div class="input-group-append">
									<button
										*ngIf="urlImage | async; else btnDisabled"
										class="btn btn-outline-secondary"
										type="button"
										id="inputGroupFileAddon04"
										(click)="cambiarImagen()"
									>
										Guardar
									</button>
									<ng-template #btnDisabled>
										<button class="btn btn-outline-secondary btn-block" type="button" id="inputGroupFileAddon04" disabled="true">
											Guardar
										</button>
									</ng-template>
								</div>
							</div>

							<div *ngIf="nameImageUp" class="progress">
								<div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [style.width]="(uploadPercent | async) + '%'">
									{{ uploadPercent | async | number: '1.0-0' }}%
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Nombre</label>
						<input type="text" class="form-control" id="recipient-name" formControlName="name" />
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Apellido</label>
						<input type="text" class="form-control" id="recipient-name" formControlName="lastName" />
					</div>
					<div class="form-group">
						<label for="inputState" class="form-label">Estado civil</label>
						<select id="inputState" class="form-select" formControlName="status">
							<option value="0">Soltero</option>
							<option value="1">Casado</option>
						</select>
					</div>
					<div class="form-group">
						<label class="form-label">Tiene hermanos</label><br />
						<div class="form-check form-check-inline">
							<input
								class="form-check-input"
								type="radio"
								formControlName="haveBrothers"
								name="haveBrothers"
								id="inlineRadio1"
								[value]="true"
							/>
							<label class="form-check-label" for="inlineRadio1">Si</label>
						</div>
						<div class="form-check form-check-inline">
							<input
								class="form-check-input"
								type="radio"
								formControlName="haveBrothers"
								name="haveBrothers"
								id="inlineRadio2"
								[value]="false"
							/>
							<label class="form-check-label" for="inlineRadio2">No</label>
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="form-label">Fecha de nacimiento</label> <br />
						<input type="date" id="date" name="trip-start" formControlName="birthDate" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formInformacion.reset()">Cancelar</button>
				<button type="submit" class="btn btn-primary" (click)="saveUser()">Guardar</button>
			</div>
		</div>
	</div>
</div>
