<div class="container animated fadeInLeft text-center mt-5">
	<div class="row">
		<h1 class="titulo">
			{{ title }}
		</h1>
		<p class="texto">Administra tus usuarios de manera fácil y rápida</p>
	</div>

	<div class="row">
		<div class="col">
			<span style="color: Dodgerblue">
				<i class="fas fa-users fa-4x"></i>
			</span>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col">
			<button [routerLink]="['/users']" type="button" class="btn btn-outline-primary">Ver usuarios</button>
		</div>
	</div>
</div>
